.title{
    color:green;
    font-family:Impact;
    font-size:100px;
    text-shadow:4px 4px yellow;
    text-decoration:underline;
}

.image{
    width:100px;
    height:100px;
}

#container{
    background-color:yellowgreen;
    border:5px dotted black;
    border-radius:20px;
}

#flag{
    width:600px;
}

#up{
    height:200px;
    background-color:#0057b7;
}

#down{
    height:200px;
    background-color:#ffd700;
}