.title{
    color:rgb(0, 183, 255);
    background-color: rgb(100, 150, 20);
    font-family:Arial;
    font-style:italic;
    font-size:70px;
    text-shadow:6px 3px green;
}

.flag{
    height:200px;
    width:400px;
}

#house{

    float:left;
    background-color: rgb(213, 255, 165);
    box-shadow: 5px 5px 5px 5px rgb(52, 51, 54);
}

#room1{
    height:100px;
    width:400px;
    background-color: #0057b7;
}

#room2{
    height:100px;
    width:400px;
    background-color:#ffd700;
}

#gradient{
    
    background: tomato;
}

#background{
    height:180px;
    width:180px;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, purple);
}